<!DOCTYPE html>
<html lang="en" class="scroll_lock">

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WGWNDDQ');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">
    <title>Hi.Fiona Flower</title>
    <meta name="keywords" content="Hi.Fiona Flower,fiona,flower,永生花,乾燥花,花藝,花藝擺飾,生活飾品,花束,桌花,飾品,花藝" />
    <meta name="description" content="Hi.Fiona 是一間專注於花藝、花飾的小工作室﹐每一件都是靈感與創意的結晶﹐無論是從花束、桌花、飾品到生活周邊小物﹐都是用雙手與熱情創作而出充滿手作溫度獨一無二的作品。" />
    <meta property="og:title" content="Hi.Fiona Flower" />
    <meta property="og:description" content="Hi.Fiona 是一間專注於花藝、花飾的小工作室﹐每一件都是靈感與創意的結晶﹐無論是從花束、桌花、飾品到生活周邊小物﹐都是用雙手與熱情創作而出充滿手作溫度獨一無二的作品。" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://alianlin.github.io/hi.fiona/" />
    <meta property="og:image" content="https://alianlin.github.io/hi.fiona/images/share.jpg" />
    <meta property="og:image:url" content="https://alianlin.github.io/hi.fiona/images/share.jpg" />
    <link rel="icon" href="https://alianlin.github.io/hi.fiona/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js"></script>
    <script  src="//s3-ap-northeast-1.amazonaws.com/justfont-user-script/jf-64282.js"></script>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGWNDDQ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="loading" class="is-active">
        <div class="loading_bar">
            <div class="loading_text"><p>Loading</p></div>
            <div class="loading_circle"></div>
        </div>
    </div>
    <header class="header" id="header">
    </header>
    <div id="index" class="index">
    <div class="section_kv">
        <div class="content" data-aos="kv-fadeOut" data-aos-anchor=".kv-fadeOut" data-aos-anchor-placement="top-bottom">
            <h1 class="visually_hide">
                Hi. Fiona Flower
                Flower Made with Heart
            </h1>
            <div class="kv_logo">
                <img src="images/logo_kv.svg" alt="Hi. Fiona Flower | Flower Made with Heart">
            </div>
        </div>
        <div class="kv_bg">
            <!-- <div class="kv_img kv_pc b_block">
                <img src="images/kv_pc.jpg" alt="kv">
            </div>
            <div class="kv_img kv_m s_block">
                <img src="images/kv_m.jpg" alt="kv">
            </div> -->
            <picture>
                <source srcset="images/kv_pc.jpg"  media="(min-width:768px)">
                <img src="images/kv_m.jpg" alt="Hi. Fiona Flower ｜ Flower Made with Heart">
            </picture>
        </div>
        <!-- <div class="kv_info">
	        <a class="kv_scroll btn_more" href="#section_skills" data-aos="kv-fadeOut" data-aos-anchor=".kv_scroll-fadeOut">
	        	<span class="text">SCROLL DOWN</span>
	        	<span class="circle">
	        		<img class="arrow" src="images/btn_arrow_s.svg" alt="scroll down">
	        	</span>
	        </a>
        </div> -->
    </div>
    <section class="section_design section_products">
        <div class="item item_news" v-if="homeData.length > 0">
            <h2 class="main_title">
              <p>News</p>
            </h2>
            <h5>{{ homeData[0].news }}</h5>
        </div>
    	<div id="section_design" class="anchor"></div>
        <div class="container">
            <h2 class="main_title">
                <p>Products</p>
            </h2>
            <div class="row_content  swiper mySwiper" data-aos="zoom-out">
                <div class="swiper-wrapper">
                    <a v-for="item in homeData"
                    :key="item.products_id"
                    class="item item_design swiper-slide"
                    :href="`products.html#${item.products_id}`">
                        <div class="pic">
                            <img  :src="item.product_img" :alt="item.products_title" loading="lazy">
                        </div>
                        <h3 class="title">
                            <p class="main">{{ item.products_title }}</p>
                            <p class="eng">{{ item.products_eng }}</p>
                        </h3>
                    </a>
                </div>
            </div>
            <div class="swiper-button swiper-button-prev ">
                <img src="images/slide_arrow.png" alt="preview" loading="lazy">
            </div>
            <div class="swiper-button swiper-button-next ">
                <img src="images/slide_arrow.png" alt="next" loading="lazy">
            </div>
            <a href="products.html" class="btn_primary">
                <span>More</span>
                <img class="arrow" src="images/btn_arrow.png" alt="go to Skills">
            </a>
        </div>
    </section>
    <section class="section_about">
        <div id="about" class="anchor"></div>
        <div class="container kv_scroll-fadeOut">
            <h2 class="main_title">
                <p>About</p>
            </h2>
            <div class="row row_content kv-fadeOut">
                <h3>
                    Hi.Fiona 是一間專注於花藝、花飾的小工作室﹐<br>每一件都是靈感與創意的結晶﹐<br>無論是從花束、桌花、飾品<br class="s_block">到生活周邊小物﹐<br>都是用雙手與熱情創作而出<br class="s_block">充滿手作溫度獨一無二的作品。
                </h3>
            </div>
            <a href="javascript:void(0);" class="btn_primary"   @click="openModal('contact', item)">
                <span>Contact</span>
                <img class="arrow" src="images/btn_arrow.png" alt="go to Skills">
            </a>
        </div>
    </section>
    <div id="footer"></div>
    <a class="btn_more btn_top" href="javascript:void(0);" data-aos="kv-fadeOut" data-aos-anchor=".kv_scroll-fadeOut">
        <span class="text">TOP</span>
        <span class="circle">
            <img class="arrow" src="images/btn_arrow_sw.svg" alt="top">
        </span>
    </a>
    <!-- modal -->
    <div id="modalContainer"></div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script src="js/mold.js"></script>
<script>
	AOS.init();
</script>
<script type="module">
    import {
      createApp,
      ref,
      onMounted,
      nextTick,
      watch
    } from 'https://cdn.jsdelivr.net/npm/vue@3.2.47/dist/vue.esm-browser.prod.js';
    
    import { useFetchData } from './js/useFetchData.js';
    import { useContactModal } from './js/useContactModal.js';
    
    (async () => {
      // ✅ 先載入 modal HTML 再掛 Vue
    //   const modalHTML = await fetch('modal_contact.html').then(res => res.text());
    //   document.getElementById('modalContainer').innerHTML = modalHTML;
    const modalHTML = await fetch('modal_contact.html').then(res => res.text());
    document.getElementById('modalContainer').innerHTML = modalHTML;
    
      createApp({
        setup() {
          const { homeData, fetchHomeData } = useFetchData();
    
          onMounted(async () => {
            await fetchHomeData();
            await nextTick();
            initSwiper();
          });
    
          const initSwiper = () => {
            new Swiper(".mySwiper", {
              effect: 'coverflow',
              grabCursor: true,
              loop: true,
              centeredSlides: true,
              keyboard: true,
              spaceBetween: 10,
              slidesPerView: 2,
              speed: 300,
              navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
              },
              coverflowEffect: {
                rotate: 0,
                stretch: 0,
                depth: 0,
                modifier: 3,
                slideShadows: false
              },
              breakpoints: {
                768: {
                  slidesPerView: 3,
                  spaceBetween: 30,
                }
              },
            });
          };
    
          const {
            modalType,
            modalData,
            submitStatus,
            openModal,
            closeModal,
            submitForm
          } = useContactModal();
    
          // ✅ 滾輪鎖定（加強版）
          watch(modalType, (val) => {
            document.documentElement.classList.toggle('scroll_lock', !!val);
          });
    
          return {
            homeData,
            modalType,
            modalData,
            openModal,
            closeModal,
            submitForm,
            submitStatus
          };
        }
      }).mount('#index');
    })();
    </script>
</html>
