<!DOCTYPE html>
<html lang="en">

<head>
     <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WGWNDDQ');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">
    <title>Hi.Fiona Flower</title>
    <meta name="keywords" content="Hi.Fiona Flower,fiona,flower,永生花,乾燥花,花藝,花藝擺飾,生活飾品,花束,桌花,飾品,花藝" />
    <meta name="description" content="Hi.Fiona 是一間專注於花藝、花飾的小工作室﹐每一件都是靈感與創意的結晶﹐無論是從花束、桌花、飾品到生活周邊小物﹐都是用雙手與熱情創作而出充滿手作溫度獨一無二的作品。" />
    <meta property="og:title" content="Hi.Fiona Flower" />
    <meta property="og:description" content="Hi.Fiona 是一間專注於花藝、花飾的小工作室﹐每一件都是靈感與創意的結晶﹐無論是從花束、桌花、飾品到生活周邊小物﹐都是用雙手與熱情創作而出充滿手作溫度獨一無二的作品。" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://alianlin.github.io/hi.fiona/" />
    <meta property="og:image" content="https://alianlin.github.io/hi.fiona/images/share.jpg" />
    <meta property="og:image:url" content="https://alianlin.github.io/hi.fiona/images/share.jpg" />
    <link rel="icon" href="https://alianlin.github.io/hi.fiona/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js"></script>
    <script src="https://s3-ap-northeast-1.amazonaws.com/justfont-user-script/jf-64282.js"></script>
</head>
<body class="page">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGWNDDQ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="loading" class="is-active">
        <div class="loading_bar">
            <div class="loading_text"><p>Loading</p></div>
            <div class="loading_circle"></div>
        </div>
    </div>
    <header class="header" id="header">
    </header>
    <div id="design">
    <div class="section_kv kv_page  kv_design">
       <div class="container">
            <h1 class="title">
                <p>Products</p>
            </h1>
       </div>
       <div class="kv_bg">
            <!-- <div class="kv_img kv_pc b_block">
                <img src="images/kv_banner_pc.jpg" alt="kv">
            </div>
            <div class="kv_img kv_m s_block">
                <img src="images/kv_banner_m.jpg" alt="kv">
            </div> -->
            <picture>
                <source srcset="images/kv_banner_pc.jpg"  media="(min-width:768px)">
                <img src="images/kv_banner_m.jpg" alt="Hi. Fiona Flower ｜ Flower Made with Heart">
            </picture>
        </div>
    </div>
    <section class="section_page design_page products_page">
        <div class="container container_tab">
            <div class="row">
              <a v-for="tab in categories"
                :key="tab"
                href="javascript:void(0);"
                :class="['btn_tab', { 'is-active': currentCategory === tab }]"
                @click="changeTab(tab)">
                <span>{{ tabMap[tab] || tab }}</span>
                </a>
            </div>
        </div>
        <div id="loading" v-show="isLoading" class="is-active">
            <div class="loading_bar">
                <div class="loading_text"><p>Loading</p></div>
                <div class="loading_circle"></div>
            </div>
        </div>
        <div class="container container_design">
            
            <!-- 全圖片顯示 -->
            <div class="info_area info_gallery">
                <div class="row row_content">
                    <div class="item item_pic" data-aos="fade" v-for="item in pagedProjects" :key="item.id" @click="openModal('product', item)">
                        <figure>
                            <img :src="item.imageUrl" :alt="item.title" loading="lazy"/>
                            <figcaption>
                                <h2 class="info_title" v-if="item.title.length">
                                    <p>{{ item.title }}</p>
                                </h2>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            
            <div class="pagination_content" v-if="totalPages > 1">
                <button class="btn_arrow pagination_arrow arrow_left" @click="currentPage--" :disabled="currentPage === 1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 30 30">
                        <path d="M20.035 23.5 10 15l10.035-9"/>
                    </svg>
                </button>
                 <span>{{ currentPage }} / {{ totalPages }}</span>
                 <button class="btn_arrow pagination_arrow arrow_right" @click="currentPage++" :disabled="currentPage === totalPages">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 30 30">
                        <path d="M10 23.5 20.035 15 10 6"/>
                    </svg>
                 </button>
            </div>
        </div>
    </section>
    <div id="footer"></div>
    <a class="btn_more btn_top" href="javascript:void(0);" data-aos="kv-fadeOut" data-aos-anchor=".kv_scroll-fadeOut">
        <span class="text">TOP</span>
        <span class="circle">
            <img class="arrow" src="images/btn_arrow_sw.svg" alt="top">
        </span>
    </a>
    <!-- Modal 外層 -->
    <div v-cloak class="modal_page modal-overlay" v-if="modalType === 'product'" @click.self="closeModal">
        <div class="modal">
            <div class="container-fluit container_design">
                <button class="modal-close" @click="closeModal">
                    <img src="images/btn_close.svg" alt="close">
                </button>
                <!-- ✅ 在這裡包住整段內容 -->
                <div class="item item_info"  v-if="modalData" :key="modalData.id">
                        <div class="row">
                            <div class="col-12 col-md-8">
                                <div class="item item_pic">
                                    <img :src="modalData.imageUrl" :alt="modalData.title"  loading="lazy"/>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="item">
                                    <h2 class="info_title" v-if="modalData.title.length">
                                        <p>{{ modalData.title }}</p>
                                    </h2>
                                    <div class="info_tag" v-if="modalData.category.length">
                                        <span class="tag" v-for="tag in modalData.category.split('、')" :key="tag.trim()">
                                          {{ tag.trim() }}
                                        </span>
                                    </div>
                                    <h5 class="info_content">
                                        <p v-html="modalData.description">{{ modalData.description }}</p>
                                    </h5>
                                </div>
                                <div class="info_more">
                                    <!-- <a href="#" class="btn_more info_more btn_primary" target="_blank" rel="noopener">
                                        <span class="text">聯絡我們</span>
                                        <span class="circle">
                                            <img class="arrow" src="images/btn_arrow.svg" alt="scroll down">
                                        </span>
                                    </a> -->
                                    <a href="javascript:void(0);" class="btn_primary btn_sbtn"  @click="openModal('contact', item)">
                                        <span class="text">聯絡我們</span>
                                        <img class="arrow" src="images/btn_arrow.png" alt="go to Skills">
                                    </a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modalContainer"></div>
    
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script src="js/mold.js"></script>

<script type="module">
    import {
      createApp,
      ref,
      onMounted,
      watch,
      nextTick
    } from 'https://cdn.jsdelivr.net/npm/vue@3.2.47/dist/vue.esm-browser.prod.js';
    
    import { useFetchData } from './js/useFetchData.js';
    import { usePagination } from './js/usePagination.js';
    import { initJustfont } from './js/useJustfont.js';
    import { useContactModal } from './js/useContactModal.js';
    
    (async () => {
      // ✅ 先 fetch modal，再插入 DOM
    //   const modalHTML = await fetch('modal_contact.html').then(res => res.text());
    //   document.getElementById('modalContainer').innerHTML = modalHTML;
    const modalHTML = await fetch('modal_contact.html').then(res => res.text());
    document.getElementById('modalContainer').innerHTML = modalHTML;
    
      // ✅ 接著再 mount Vue
      createApp({
        setup() {
          const isLoading = ref(true);
    
          const {
            categories,
            currentCategory,
            projects,
            path,
            fetchData,
            tabMap,
            fetchHomeData  
          } = useFetchData();
    
          const {
            currentPage,
            totalPages,
            pagedProjects,
            availableYears,
            selectedYear,
            searchInput,
            doSearch,
          } = usePagination(projects);
    
          const {
            modalType,
            modalData,
            submitStatus,
            openModal,
            closeModal,
            submitForm
          } = useContactModal();
    
          const changeTab = (tab) => {
            if (currentCategory.value === tab) return;
            isLoading.value = true;
            currentCategory.value = tab;
            currentPage.value = 1;
            searchInput.value = '';
            selectedYear.value = '';
            window.scrollTo({ top: 0, behavior: 'smooth' });
            window.location.hash = `#${tab}`;
          };
    
          // 🔒 body 滾動鎖定
          watch(modalType, (val) => {
            const isOpen = Boolean(val);
            document.documentElement.classList.toggle('scroll_lock', isOpen);
          });
    
          // URL hash 切換 tab
          window.addEventListener('hashchange', () => {
            const hash = decodeURIComponent(window.location.hash.replace('#', '')).toLowerCase();
            const match = categories.value.find(name => name.toLowerCase() === hash);
            if (match && match !== currentCategory.value) {
              currentCategory.value = match;
            }
          });
    
          watch(categories, () => {
            const hash = decodeURIComponent(window.location.hash.replace('#', '')).toLowerCase();
            const match = categories.value.find(name => name.toLowerCase() === hash);
            if (match) currentCategory.value = match;
          }, { immediate: true });
    
          onMounted(async () => {
            isLoading.value = true;
            await fetchHomeData();
            await fetchData();
            await nextTick();
            initJustfont();
            isLoading.value = false;
          });
    
          watch(currentCategory, async () => {
            isLoading.value = true;
            await nextTick();
            isLoading.value = false;
          });
    
          return {
            isLoading,
            categories,
            currentCategory,
            projects,
            path,
            currentPage,
            totalPages,
            pagedProjects,
            changeTab,
            searchInput,
            availableYears,
            selectedYear,
            doSearch,
            modalType,
            modalData,
            openModal,
            closeModal,
            submitForm,
            submitStatus,
            tabMap
          };
        }
      }).mount('#design');
    })();
    </script>
</html>
